<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.admin.bloodbank">
<uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:windowSoftInputMode="stateHidden|adjustResize"
        android:supportsRtl="true"
        android:screenOrientation="portrait"
        android:theme="@style/MyMaterialTheme.Base">
        <activity android:name=".activities.IntroductionActivity"   >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activities.LoginActivity" />
        <activity android:name=".activities.AddDescriptionUserActivity">

        </activity>
        <activity android:name=".activities.NavigationDrawerMainActivity">

        </activity>
        <activity android:name=".activities.ResultSearchBloodGroupActivity"  />
        <activity android:name=".activities.FilterSearchClub" />
        <activity android:name=".activities.EditProfileActivity"/>
        <activity android:name=".activities.ViewDetailClubActivity"/>
        <activity android:name=".activities.CommentActivity"/>
        <activity android:name=".activities.ProfileSearchActivity"/>
        <activity android:name=".activities.SearchMemberGroupActivity" />
        <activity android:name=".activities.RegisterActivity"/>
        <activity android:name=".activities.ForgotPasswordActivity"/>
    </application>
</manifest>
